<h1><span class="red">Live</span><span class="black">Chat</span></h1>

<div class="box">
  <input id="chatBox" name="chatBox" type="text" />

  <div class="boxMessages">
    <div id="messagesLogs"></div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>